<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

  <title>Data ToDo</title>
</head>

<body>

  <div class="container" style="margin-top: 80px">
    <div class="row">
      <div class="col-md-12">
        @if(flashMessage('notification'))
        <div class="alert alert-success">{{ flashMessage('notification') }}</div>
        @endif
        <div class="card">
          <div class="card-header">
            DATA TODO
          </div>
          <div class="card-body">
            <a href="{{ route('todos.create') }}" class="btn btn-success btn-md" style="margin-bottom: 10px">TAMBAH
              TODO</a>
            <table class="table table-hovered table-striped table-bordered" id="myTable">
              <thead>
                <tr>
                  <td>TITLE</td>
                  <td>DESCRIPTION</td>
                  <td>STATUS</td>
                  <td>AKSI</td>
                </tr>
              </thead>
              <tbody>
                @each(todo in todos)
                <tr>
                  <td> {{ todo.title }} </td>
                  <td> {{ todo.description }} </td>
                  <td> {{ todo.status == 'done' ? 'Selesai' : 'Belum Selesai' }} </td>
                  <td class="text-center">
                    <a href="{{ route('todos.edit', { id: todo.id }) }}" class="btn btn-sm btn-primary">EDIT</a>
                    <a href="{{ route('todos.delete', { id: todo.id }) }}" class="btn btn-sm btn-danger">HAPUS</a>
                  </td>
                </tr>
                @endeach
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });

  </script>
</body>

</html>
